.project-card {
    width: 50%; /* Set the width to 50% */
    border: 0px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    background-color: #1b2334;
    box-sizing: border-box;
    align-content: flex-start/* Ensure padding is included in width calculation */
}

.project-card h3 {
    margin: 0;
    font-size: 24px;
    color: #91b4d4;
}

.project-card p {
    font-size: 16px;
    color: #45648b;
}

.project-card a {
    color: #007BFF;
    text-decoration: none;
}

.project-card a:hover {
    text-decoration: underline;
}

.techs {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tech-badge {
    background-color: #333;
    color: #91b4d4;
    border-radius: 12px;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #91b4d4;
    white-space: nowrap;
    display: inline-block;
}