.navbar {
    background-color: #1b2334;
    padding: 10px;
}

.flex-box {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Optional: Adds space between elements */
}

.navbar h1 {
    color: #91b4d4;
    scale: 1.5;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.navbar-icons {
    display: flex;
     /* Optional: Adds spacing between icons */
    list-style: none; /* Removes default bullet points */
    padding: 0;
    margin: 0;
}

.navbar-icons li {
    display: inline-block;
}

.navbar-icons .icon {
    color: #91b4d4; /* Change this to your preferred color */
    font-size: 24px;
    transition: color 0.3s;
}

.navbar-icons .icon:hover {
    color: #ffffff; /* Change this to a hover effect color */
}

.navbar-icons-hidden {
    display: flex;
    /* Optional: Adds spacing between icons */
    list-style: none; /* Removes default bullet points */
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.navbar-icons-hidden li {
    display: inline-block;
}

.navbar-icons-hidden .icon {
    color: #91b4d4; /* Change this to your preferred color */
    font-size: 24px;
    transition: color 0.3s;
}

.navbar-icons-hidden .icon:hover {
    color: #ffffff; /* Change this to a hover effect color */
}

