.navbar {
    background-color: #758ECD;
    padding: 10px;
    box-shadow: 12px 12px 0 0 #000;
}



.flex-box {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Optional: Adds space between elements */
}

.navbar-name {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Ensures the text color is inherited (same as the rest of the text) */
}

.navbar h1 {
    color: #000;
    scale: 1.5;
}


