.footer {
    background-color: #758ECD;
    padding: 10px;
    text-align: center;
    color: #91b4d4;
    margin-top: 20px;
    box-shadow: 12px -12px 0 0 #000;
    position: relative;
}

.footer p {
    color: #000;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 15px 0;
}

.footer-icons li {
    display: inline-block;
    margin: 0 10px;
}

.footer-icons a {
    color: #000;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #ffffff;
}

.footer-link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 16px;
    color: #000;
    margin: 10px 0;
}

.footer-contact span {
    display: flex;
    align-items: center;
    gap: 5px;
}


.download-link {
    color: #000;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s;
}

.download-link:hover {
    color: #fff;
}
