.personal-info-card {
    display: flex;
    align-items: flex-start;
    width: 50%;
    border: 0px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #1b2334;
    text-align: left;
    box-sizing: border-box;
}

.personal-info-card .profile-img {
    width: 270px;
    height: 250px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
}

.personal-info-card h2 {
    font-size: 24px;
    margin: 0;
    color: #91b4d4;
}

.personal-info-card h3 {
    font-size: 20px;
    margin: 0;
    color: #91b4d4;
}

.personal-info-card p {
    font-size: 16px;
    color: #45648b;
}

.skills {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skill-badge {
    background-color: #333;
    color: #91b4d4;
    border-radius: 12px;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #91b4d4;
    white-space: nowrap;
    display: inline-block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Optional: space between elements */
}
